RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^registro$ registro.php [L,QSA]
RewriteRule ^iniciar-sesion$ login.php [L,QSA]
RewriteRule ^panel$ panel.php [L,QSA]